<%inherit file="base.html" />
<%! 
  from lib.headphones import helpers
%>

<%def name="headerIncludes()">
  <div id="subhead_container">
    <ul id="subhead_menu">
      <li><a href="deleteAlbum?id=${album.id}">Delete Album</a></li>
      %if album.state == 'skipped':
        <li><a href="queueAlbum?id=${album.id}">Mark Album as Wanted</a></li>
      %elif album.state == 'wanted':
        <li><a href="queueAlbum?id=${album.id}">Force Check</a></li>
        <li><a href="unqueueAlbum?id=${album.id}">Mark Album as Skipped</a></li>
      %else:
        <li><a href="queueAlbum?id=${album.id}">Retry Download</a></li>
        <li><a href="queueAlbum?id=${album.id}">Try New Version</a></li>
      %endif
    </ul>
  </div>
</%def>

<%def name="body()">
  <div class="table_wrapper">
    <div id="albumheader">
      <img src="http://images.amazon.com/images/P/${album.asin}.jpg" height="200" width="200" alt="albumart" class="albumArt">
      <h1>${album.name}</h1>
      <h2><a href="artist?id=${album.artist.id}">${album.artist.name}</a></h2>
      <br>
      <br>
      <h3>Tracks: ${album.track_count()}</h3>
      <h3>Duration: ${helpers.convert_milliseconds(album.duration())}</h3>
      <h3>Description:</h3>
      <p>
        ${album.summary}
      </p>
    </div>
    <div id="track_wrapper">
      <table class="display" id="track_table">
        <thead>
          <tr>
            <th id="number">Number</th>
            <th id="name">Track Title</th>
            <th id="duration">Duration</th>
            <th id="location">Local File</th>
            <th id="bitrate">Bit Rate</th>
          </tr>
        </thead>
        <tbody>
        %for track in album.tracks():
          <%
            if track.location:
              grade = 'A'
              location = track.location
            else:
              grade = 'X'
              location = ''

            if track.bitrate:
              bitrate = str(track.bitrate / 1000) + ' kbps'
            else:
              bitrate = 'n/a'
          %>
          <tr class="grade${grade}">
            <td id="number">${track.number}</td>
            <td id="name">${track.title}</td>
            <td id="duration">${helpers.convert_milliseconds(track.length)}</td>
            <td id="location">${track.location}</td>
            <td id="bitrate">${bitrate}</td>
          </tr>
        %endfor
        </tbody>
      </table>
    </div>
  </div>
</%def>

<%def name="headIncludes()">
  <link rel="stylesheet" href="/css/data_table.css">
</%def>

<%def name="javascriptIncludes()">
  <script src="/js/lib/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function()
    {
      $('#track_table').dataTable({
        "aaSorting": [],
        "bFilter": false,
        "bInfo": false,
        "bPaginate": false
      });
    });
  </script>
</%def>