<%inherit file="base.html"/>
<%!
  from headphones import models
%>

<%def name="headerIncludes()">
  <div id="subhead_container">
    <ul id="subhead_menu">
      <li><a href="refreshArtist?id=${artist['artist_id']}">Refresh Artist</a></li>
      <li><a href="deleteArtist?id=${artist['artist_id']}">Delete Artist</a></li>
      %if artist['artist_state'] == 'paused':
        <li><a href="resumeArtist?id=${artist['artist_id']}">Resume Artist</a></li>
      %else:
        <li><a href="pauseArtist?id=${artist['artist_id']}">Pause Artist</a></li>
      %endif
    </ul>
  </div>
</%def>

<%def name="body()">
  <form action="markAlbums" method="get"><input type="hidden" name="ArtistID" value=${artist['artist_id']}>
    <div class="table_wrapper table_sorting">
      <img class="left" height="50" src="artist['artist_small_image_url']" alt="${artist['artist_name']}" />
      <h1 class="left">${artist['artist_name']}</h1>

      %if artist['artist_state'] == 'loading':
        <p> (Album information for this artist is currently being loaded)</p>
      %endif

      <p class="right">Mark selected albums as 
        <select name="action">
            <option value="Wanted">Wanted</option>
            <option value="WantedNew">Wanted (new only)</option>
            <option value="Skipped">Skipped</option>
            <option value="Downloaded">Downloaded</option>
        </select>
        <input type="submit" value="Go">
      </p>

      <table class="display" id="album_table">
        <thead>
          <tr>
            <th id="select"><input type="checkbox" onClick="toggle(this)" /></th>
            <th id="albumart"></th>
            <th id="albumname">Name</th>
            <th id="reldate">Date</th>
            <th id="type">Type</th>
            <th id="state">State</th>
            <th id="have">Have</th>
          </tr>
        </thead>

        <tbody>
        %for album in albums:
          <%
            if album['album_state'] == 'skipped':
              grade = 'Z'
            elif album['album_state'] == 'wanted':
              grade = 'X'
            elif album['album_state'] == 'snatched':
              grade = 'C'
            else:
              grade = 'A'
          %>

          <%
            total_tracks = db.DBConnection().action('SELECT COUNT(*) as count FROM tracks WHERE album_id=?', [album['album_id']]).fetchone()
            total_tracks = total_tracks['count']
          %>

          <%
            obtained_tracks = db.DBConnection().action('SELECT COUNT(*) AS count FROM tracks WHERE album_id=? AND track_location IS NOT NULL', [album['album_id']]).fetchone()
            obtained_tracks = obtained_tracks['count']
          %>

          <%
            try:
              percent = (obtained_tracks * 100.0) / total_tracks

              if percent > 100: percent = 100
            except (ZeroDivisionError, TypeError):
              percent = 0
          %>
          <tr class="grade${grade}">
            <td id="select">
              <input type="checkbox" name="${album['album_id']}" class="checkbox" />
            </td>

            <td id="albumart">
              <img src="album['album_image_url']" height="50" width="50">
            </td>

            <td id="albumname">
              <a href="album?id=${album['album_id']}">${album['album_name']}</a>
            </td>

            <td id="reldate">
              ${album['album_released_on']}
            </td>

            <td id="type">
              ${album['album_type']}
            </td>

            <td id="status">
              ${album['album_state']}
            %if album['album_state'] == 'skipped':
              [<a href="queueAlbum?album_id=${album['album_id']}&album_id=${album['artist_id']}">want</a>]
            %elif album['album_state'] == 'wanted':
              [<a href="unqueueAlbum?album_id=${album['album_id']}&album_id=${album['artist_id']}">skip</a>]
            %else:
              [<a href="queueAlbum?album_id=${album['album_id']}&album_id=${album['artist_id']}" title="Retry the same download again">retry</a>][<a href="queueAlbum?album_id=${album['album_id']}&artist_id=${album['artist_id']}&new=True" title="Try a new download, skipping all previously tried nzbs">new</a>]
            %endif
            </td>

            <td id="have">
              <span title="${percent}"><span>
              <div class="progress-container">
                <div style="width:${percent}%">
                  <div class="havetracks">${obtained_tracks}/${total_tracks}</div>
                </div>
              </div>
            </td>
          </tr>
        %endfor
        </tbody>
      </table>
    </div>
  </form>
</%def>

<%def name="headIncludes()">
  <link rel="stylesheet" href="css/data_table.css">
</%def>

<%def name="javascriptIncludes()">
  <script src="js/libs/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function()
    {
      $('#album_table').dataTable(
        {
          "aoColumns": [
            { "bSortable": false },
            { "bSortable": false },
            null,
            null,
            { "bSortable": false },
            null,
            { "sType": "title-numeric"}
          ],
          "oLanguage": {
            "sLengthMenu":"Show _MENU_ albums per page",
            "sEmptyTable": "No album information available",
            "sInfo":"Showing _TOTAL_ albums",
            "sInfoEmpty":"Showing 0 of 0 albums",
            "sInfoFiltered":"(filtered from _MAX_ total albums)"},
          "bPaginate": false,
          "aaSorting": [[4, 'asc'],[3,'desc']]
        });
    });
  </script>
</%def>
