<%inherit file="base.html"/>
<%!
  from lib.headphones.helpers import checked
%>

<%def name="headerIncludes()">
  <div id="subhead_container">
    <ul id="subhead_menu">
      <li><a href="forceUpdate">Update Active Artists</a></li>
      <li><a href="forceSearch">Check for Wanted Albums</a></li>
      <li><a href="checkGithub">Check for Updates</a></li>
      <!--<li><a href="forcePostProcess">Post-Process Downloads</a></li>-->
      <li><a href="shutdown">Shut Down</a></li>
      <li><a href="restart">Restart</a></li>
    </ul>
  </div>
</%def>
<%def name="body()">
  <div class="table_wrapper">
    <h1><img src="images/scan.png"> Scan Music Library</h1>

    <p>
      Where do you keep your music? You can put in any directory, and it will 
      scan for audio files in that folder (including all subdirectories.)
      <br />
      <small>For example: '/Users/name/Music'</small>
    </p>

    <form action="musicScan" method="get">
      <label for="path">Your Music Directory</label>
      %if config.music.directory:
        <input type="text" value="${config.music.directory}" id="path" name="path" size="50" />
      %else:
        <input type="text" id="path" name="path" size="50" />
      %endif
      <br />
      <p>
        It may take a while depending on how many files you have. You can 
        navigate away from the page as soon as you click &ldquo;Start Scanning&rdquo;.
      </p>
      <input type="submit" value="Start Scanning" />
    </form>
  </div>

  <div class="table_wrapper">
    <h1><img src="images/last.fm.png"> Import Artists From Last.FM</h1>

    <p>Enter the username whose artists you want to import:</p>

    <form action="importLastFM" method="get">
      <label for="username">Last.FM Username</label>
      %if config.lastfm.username:
      <input type="text" id="username" value="${config.lastfm.username}" name="username" />
      %else:
      <input type="text" id="username" name="username" />
      %endif
      <br />
      <br />
      <input type="submit" value="Start Importing" />
    </form>
  </div>

  <form action="configUpdate" method="post">
    <div class="table_wrapper">
      <h1><img src="images/web.png"> Web Interface</h1>

      <p>All changes require a restart to take effect.</p>

      <label for="http_host">HTTP Host</label>
      <input type="text" name="http_host" id="http_host" value="${config.webserver.http_host}" maxlength="40" />
      <small>i.e. localhost or 0.0.0.0</small>
      <br />
      <label for="http_port">HTTP Port</label>
      <input type="text" name="http_port" id="http_port" value="${config.webserver.http_port}" maxlength="40" />
      <br />
      <label for="http_username">HTTP Username</label>
      <input type="text" name="http_username" id="http_username" value="${config.webserver.http_username}" maxlength="40" />
      <br />
      <label for="http_password">HTTP Password</label>
      <input type="password" name="http_password" id="http_password" value="${config.webserver.http_password}" maxlength="40" />
      <br />
      <input type="checkbox" name="launch_browser" id="launch_browser" value="1" ${config.webserver.launch_browser} />
      <label for="launch_browser">Launch Browser on Startup</label>
    </div>

    <div class="table_wrapper">
      <h1><img src="images/download.png"> Download Settings</h1>

      <fieldset>
        <legend>Music</legend>

        <input type="checkbox" id="include_extras" name="include_extras" value="1" ${config.downloading.extras} />
        <label for="include_extras">Download All Releases</label>
        <small>When adding an artist, download all EPs, Compilations, Live Albums, Remix Albums, and Singles.</small>
        <br />
        <input type="checkbox" name="add_album_art" id="add_album_art" value="1" ${config.downloading.artwork} />
        <label for="add_album_art">Download Album Art</label>
      </fieldset>

      <fieldset>
        <legend>Usenet</legend>

        <label for="usenet_retention">Usenet Retention</label>
        <input type="text" id="usenet_retention" name="usenet_retention" value="${config.usenet.retention}" maxlength="40">
      </fieldset>

      <fieldset>
        <legend>SABnzbd</legend>

        <label for="sab_host">SABnzbd Host</label>
        <input type="text" id="sab_host" name="sab_host" value="${config.sabnzbd.host}" maxlength="40" />
        <small>usually http://localhost:8080</small>
        <br />
        <label for="sab_username">SABnzbd Username</label>
        <input type="text" id="sab_username" name="sab_username" value="${config.sabnzbd.username}" maxlength="40" />
        <br />
        <label for="sab_password">SABnzbd Password</label>
        <input type="password" id="sab_password" name="sab_password" value="${config.sabnzbd.password}" maxlength="40" />
        <br />
        <label for="sab_apikey">SABnzbd API Key</label>
        <input type="text" id="sab_apikey" name="sab_apikey" value="${config.sabnzbd.api_key}" maxlength="40" />
        <br />
        <label for="sab_category">SABnzbd Category</label>
        <input type="text" id="sab_category" name="sab_category" value="${config.sabnzbd.category}" maxlength="40" />
        <small>probably &ldquo;Music&rdquo;</small>
        <br />
        <label for="download_dir">Music Download Directory</label>
        <input type="text" id="download_dir" name="download_dir" value="${config.sabnzbd.download_directory}">
        <small>Full path to the directory where SAB downloads your music.</small>
      </fieldset>

      <fieldset>
        <legend>Black Hole</legend>

        <input type="checkbox" id="blackhole" name="blackhole" value="1" ${config.blackhole.enabled} />
        <label for="blackhole">Use Black Hole</label>
        <br />
        <label for="blackhole_dir">Black Hole Directory</label>
        <input type="text" id="blackhole_dir" name="blackhole_dir" value="${config.blackhole.directory}" />
        <small>Folder SABnzbd watches for NZBs</small>
      </fieldset>
    </div>

    <div class="table_wrapper">
      <h1><img src="images/providers.png"> Search Providers</h1>

      <fieldset>
        <legend>NZBMatrix</legend>

        <input type="checkbox" id="nzbmatrix" name="nzbmatrix" value="1" ${config.nzbmatrix.enabled} />
        <label for="nzbmatrix">Use NZBMatrix</label>
        <br />
        <label for="nzbmatrix_username">NZBMatrix Username</label>
        <input type="text" id="nzbmatrix_username" name="nzbmatrix_username" value="${config.nzbmatrix.username}" maxlength="40" />
        <br />
        <label for="nzbmatrix_apikey">NZBMatrix API</label>
        <input type="text" id="nzbmatrix_apikey" name="nzbmatrix_apikey" value="${config.nzbmatrix.api_key}" maxlength="40" />
      </fieldset>

      <fieldset>
        <legend>Newznab</legend>

        <input type="checkbox" name="newznab" id="newznab" value="1" ${config.newznab.enabled} />
        <label for="newznab">Use Newznab</label>
        <br />
        <label for="newznab_host">Newznab Host</label>
        <input type="text" id="newznab_host" name="newznab_host" value="${config.newznab.host}" maxlength="40" />
        <small>i.e. http://nzb.su</small>
        <br />
        <label for="newznab_apikey">Newznab API</label>
        <input type="text" id="newznab_apikey" name="newznab_apikey" value="${config.newznab.api_key}" maxlength="40" />
      </fieldset>

      <fieldset>
        <legend>NZBs.org</legend>

        <input type="checkbox" id="nzbsorg" name="nzbsorg" value="1" ${config.nzbsorg.enabled} />
        <label for="nzbsorg">Use NZBs.org</label>
        <br />
        <label for="nzbsorg_uid">NZBs.org UID</label>
        <input type="text" id="nzbsorg_uid" name="nzbsorg_uid" value="${config.nzbsorg.uid}" maxlength="40" />
        <br />
        <label for="nzbsorg_hash">NZBs.org Hash</label>
        <input type="text" id="nzbsorg_hash" name="nzbsorg_hash" value="${config.nzbsorg.hash}" maxlength="40" />
      </fieldset>

      <fieldset>
        <legend>Newzbin</legend>

        <input type="checkbox" id="newzbin" name="newzbin" value="1" ${config.newzbin.enabled} />
        <label for="newzbin">Use Newzbin</label>
        <br />
        <label for="newzbin_uid">Newzbin UID</label>
        <input type="text" id="newzbin_uid" name="newzbin_uid" value="${config.newzbin.uid}" maxlength="40" />
        <br />
        <label for="newzbin_password">Newzbin Password</label>
        <input type="text" id="newzbin_password" name="newzbin_password" value="${config.newzbin.password}" maxlength="40" />
      </fieldset>
    </div>

    <div class="table_wrapper center">
      <small>Web Interface changes require a restart to take effect.</small>
      <br />
      <br />
      <input type="submit" value="Save Changes" />
    </div>
  </form>
</%def>

<%def name="javascriptIncludes()">
  <script>
  $(document).ready(function() {
    if ($("#encode").is(":checked")) {
      $("#encoderoptions").show();
    } else {
      $("#encoderoptions").hide();
    }

    $("#encode").click(function() {
      if ($("#encode").is(":checked")) {
        $("#encoderoptions").show("fast");
      } else {
        $("#encoderoptions").hide("fast");
      }
    });
  });
  </script>
</%def>