<%inherit file="base.html"/>
<%!
  from lib.headphones import models
  from lib.headphones import helpers
%>

<%def name="headerIncludes()">
  <div id="subhead_container">
    <ul id="subhead_menu">
      <li><a href="suggestions">Artists You May Like</a></li>
    </ul>
  </div>
</%def>

<%def name="body()">
  <form action="markArtists" method="get">
    <div class="table_wrapper table_sorting">
      <p class="right">
        <select name="action">
          <option value="refresh" selected>Refresh</option>
          <option value="resume">Resume</option>
          <option value="pause">Pause</option>
          <option disabled>&mdash;&mdash;&mdash;&mdash;</option>
          <option value="delete">Delete</option>
        </select>
        selected artists
        <input type="submit" value="Go">
      </p>

      <table class="display" id="artist_table">
        <thead>
          <tr>
            <th id="select">
              <input type="checkbox" onClick="toggle(this)" />
            </th>
            <th id="name">Artist Name</th>
            <th id="album">Latest Album</th>
            <th style="min-width:120px;">Release Date</th>
            <th id="have">Tracks</th>
            <th id="status">Status</th>
          </tr>
        </thead>

        <tbody>
        %for artist in artists:
          <%
            if artist.state == 'paused':
              row_grade = 'X'
            else:
              row_grade = 'Z'
          %>
          <tr class="grade${row_grade}">
            <td id="select">
              <input type="checkbox" name="${artist.id}" class="checkbox" />
            </td>

            <td id="name">
              <span title="${artist.unique_name}"></span>
              <a href="artist?id=${artist.id}">${artist.name}</a>
            </td>

            <td id="album">
              % if artist.latest_album():
                <a title="${artist.latest_album().name}" href="album?id=${artist.latest_album().id}">${artist.latest_album().name}</a>
              % endif
            </td>

            <td>
              % if artist.latest_album():
                <p class="center">${artist.latest_album().released_on}</p>
              % endif
            </td>

            <%
              try:
                percent = (artist.obtainted_track_count() * 100.0) / artist.track_count()

                if percent > 100: percent = 100
              except (ZeroDivisionError, TypeError):
                percent = 0
            %>

            <td id="have">
              <span title="${percent}"></span>
              <div class="progress-container">
                <div style="width: ${percent}%;">
                  <div class="havetracks">${artist.obtainted_track_count()}/${artist.track_count()}</div>
                </div>
              </div>
            </td>

            <td id="status">
              ${artist.state}
            </td>
          </tr>
        %endfor
        </tbody>
      </table>
    </div>
  </form>
</%def>

<%def name="headIncludes()">
  <link rel="stylesheet" href="/css/data_table.css">
</%def>

<%def name="javascriptIncludes()">
  <script src="/js/lib/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready( function() {
      $('#artist_table').dataTable( {
          "aoColumns": [
            { "bSortable": false },
            { "sType": "title-string"},
            null,
            { "sType": "title-string"},
            { "sType": "date"},
            { "sType": "title-numeric"}
          ],
          "bStateSave": true,
          "iDisplayLength": 50,
          "sPaginationType": "full_numbers"
        } );
    } );
  </script>
</%def>
